<div class="flex flex-column align-items-center justify-content-center bg-indigo-50 " data-aos="zoom-in"
    data-aos-duration="500">

    <h1 class="mb-4 mt-5">CONTACTO</h1>

    <div class="flex mb-8 contacto-responsive">

        <a href="https://www.linkedin.com/in/alejandro-dzib340640219/" class="animacion mr-3" target="_blank">
            <div class="flex-1 flex-column flex align-items-center justify-content-center font-bold text-white m-2 px-5 py-3 border-round"
                data-aos="flip-up" data-aos-duration="1000">
                <h1 class="mb-2 text-3xl tittle-responsive">LinkedIn</h1> <img
                    src="https://cdn-icons-png.flaticon.com/512/3938/3938061.png" width="100" class="img-responsive">
            </div>
        </a>
        <a href="mailto:alejandro_uriel25@hotmail.com" class="animacion mr-3" target="_blank">
            <div class="flex-1 flex-column flex align-items-center justify-content-center font-bold text-white m-2 px-5 py-3 border-round"
                data-aos="flip-up" data-aos-duration="1000">
                <h1 class="mb-2 text-3xl tittle-responsive">Email</h1> <img src="https://cdn-icons-png.flaticon.com/512/5907/5907625.png"
                    width="100" class="img-responsive">
            </div>
        </a>
        <a href="https://github.com/ALEXURI001" class="animacion mr-3" target="_blank">
            <div class="flex-1 flex-column flex align-items-center justify-content-center font-bold text-white m-2 px-5 py-3 border-round"
                data-aos="flip-up" data-aos-duration="1000">
                <h1 class="mb-2 text-3xl tittle-responsive">GitHub</h1> <img src="https://cdn-icons-png.flaticon.com/512/5968/5968866.png"
                    width="100" class="img-responsive">
            </div>
        </a>

        <a href="https://www.instagram.com/alejandrodg10100/" class="animacion" target="_blank">
            <div class="flex-1 flex-column flex align-items-center justify-content-center font-bold text-white m-2 px-5 py-3 border-round"
                data-aos="flip-up" data-aos-duration="1000">
                <h1 class="mb-2 text-3xl tittle-responsive">Instagram</h1> <img
                    src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="100" class="img-responsive">
            </div>
        </a>


    </div>

</div>