<style>
.text-tittle{
  color: #FFF;
  font-size: 40px;
}
a:link, a:visited, a:active {
  text-decoration:none;
}

.slide-container1{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;  
  }
  .slide-content1{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    padding: 30px 10px;
  }
  
  .card_noti{
    border-radius: 25px;
    background-color: #FFF;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    cursor: default;
    transition: all 400ms ease;
  }
  .card_noti:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    transform: translateY(-3%);
  }
  .image-content,
  .card-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
  }
  .card-img{
    position: relative;
    border-radius: 10px;
    margin: auto;
    height: 100%;
    width: 100%;
    object-fit:cover;
  }
  
  .name__tittle{
    font-size: 14px;
    font-weight: 700;
    color: #000f49;
  }
  .name__tittle, .description__text {
    text-align: center;
    padding: 0px 10px;
  }
  .description__text{
    font-size: 13px;
    color: #5e5e5e;
    
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #1B396A;
    border-radius: 6px;
    margin: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }

  .button1{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #1B396A;
    border-radius: 6px;
    margin: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 30vw;
  }
  .button1:hover{
    background: #265DF2;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    transform: translateY(-3%);
  }
  
  .swiper-navBtn{
    color: #1B396A;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 40px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  .span__fecha{
    background-color: #000f49;
    color: #FFF;
    font-weight: 600;
    padding: 3px;
    position: absolute;
    border-radius: 5px;
  }
  
  .siguenos__center{
    display: flex;
    justify-content: center;
  }
  
  .ifra__siguenos{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(14, 23, 160, 0.4);
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  
    .siguenos__center{
      flex-direction: column;
      align-items: center;
    }
    .ifra__siguenos{
      width: 80%;
    }
  }

</style>

<div class="flex flex-column align-content-center justify-content-center p-3">
    <h1 class="flex justify-content-center text-tittle">PROYECTOS</h1>

    <div>


        <swiper [config]="swiperConfig">
            <ng-template swiperSlide>
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">

                            <div class="card_noti swiper-slide">
                                <div class="image-content">
                                    <img src="../assets/CAE-CREDENCIALES.png" alt="" class="card-img">
                                </div>
                                <div class="card-contenido">
                                    <a class="ref" (click)="showDialog()">
                                        <h2 class="name__tittle">SISTEMA CONTROL DE ACCESO ESTUDIANTIL</h2>
                                    </a>
                                    <a (click)="showDialog()"><button class="button">Leer más</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">

                            <div class="card_noti swiper-slide">
                                <div class="image-content">
                                    <img src="../assets/Admin-tareas.png" alt="" class="card-img">
                                </div>
                                <div class="card-contenido">
                                    <a (click)="showDialog1()" class="ref">
                                        <h2 class="name__tittle">CHECADOR DE TAREAS</h2>
                                    </a>
                                    <a (click)="showDialog1()"><button class="button">Leer más</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-template>

            <ng-template swiperSlide>
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">

                            <div class="card_noti swiper-slide">
                                <div class="image-content">
                                    <img src="../assets/Pet-register.png" alt="" class="card-img">
                                </div>
                                <div class="card-contenido">
                                    <a (click)="showDialog2()" class="ref">
                                        <h2 class="name__tittle">PET SHOP</h2>
                                    </a>
                                    <a (click)="showDialog2()"><button class="button">Leer más</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">

                            <div class="card_noti swiper-slide">
                                <div class="image-content">
                                    <img src="../assets/Alura-Store.png" alt="" class="card-img">
                                </div>
                                <div class="card-contenido">
                                    <a (click)="showDialog3()" class="ref">
                                        <h2 class="name__tittle">GRID LAYOUT</h2>
                                    </a>

                                    <a (click)="showDialog3()"><button class="button">Leer más</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">

                            <div class="card_noti swiper-slide">
                                <div class="image-content">
                                    <img src="../assets/Bloc-Aperia.png" alt="" class="card-img">
                                </div>
                                <div class="card-contenido">
                                    <a (click)="showDialog4()" class="ref">
                                        <h2 class="name__tittle">LAYOUTS RESPONSIVOS</h2>
                                    </a>
                                    <a (click)="showDialog4()"><button class="button">Leer más</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">

                            <div class="card_noti swiper-slide">
                                <div class="image-content">
                                    <img src="../assets/Bloc-Fruta.png" alt="" class="card-img">
                                </div>
                                <div class="card-contenido">
                                    <a (click)="showDialog5()" class="ref">
                                        <h2 class="name__tittle">ARQUITECTURA CSS</h2>
                                    </a>
                                    <a (click)="showDialog5()"><button class="button">Leer más</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>


            <ng-template swiperSlide>
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">

                            <div class="card_noti swiper-slide">
                                <div class="image-content">
                                    <img src="../assets/Mini-Page.png" alt="" class="card-img">
                                </div>
                                <div class="card-contenido">
                                    <a (click)="showDialog6()" class="ref">
                                        <h2 class="name__tittle">FLEXBOX</h2>
                                    </a>
                                    <a (click)="showDialog6()"><button class="button">Leer más</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>


            <ng-template swiperSlide>
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">

                            <div class="card_noti swiper-slide">
                                <div class="image-content">
                                    <img src="../assets/ENCRIPTADOR.png" alt="" class="card-img">
                                </div>
                                <div class="card-contenido">
                                    <a (click)="showDialog7()" class="ref">
                                        <h2 class="name__tittle">ENCRIPTADOR</h2>
                                    </a>
                                    <a (click)="showDialog7()"><button class="button">Leer más</button></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-template>

        </swiper>


    </div>


</div>



<p-dialog header="CONTROL DE ACCESO ESTUDIANTIL" [(visible)]="visible" [breakpoints]="{ '960px': '90vw' }"
    [style]="{ width: '90vw' }" [draggable]="false" [resizable]="false">

    <div class="flex flex-column justify-content-center align-items-center">
        <h2 class="text-center mb-4 mt-4">Login</h2>
        <img src="../assets/CAE-LOGIN.png" width="100%">

        <h2 class="text-center mb-4 mt-4">Registro credencial</h2>
        <img src="../assets/CAE-CREDENCIALES.png" width="100%">

        <h2 class="text-center mb-4 mt-4">Control de entradas</h2>
        <img src="../assets/CAE-ENTRADAS.png" width="100%">

        <h2 class="text-center mb-4 mt-4">Escaneo QR</h2>
        <img class="align-items-center" src="../assets/CAE-CODIGO.png" width="30%">
    </div>

</p-dialog>

<p-dialog header="CHECADOR DE TAREAS" [(visible)]="visible1" [breakpoints]="{ '960px': '90vw' }"
    [style]="{ width: '90vw' }" [draggable]="false" [resizable]="false">

    <div class="flex flex-column align-items-center justify-content-center">
        <h2 class="text-center mb-4 mt-4">INICIO</h2>
        <img src="../assets/Admin-tareas1.png" width="100%">

        <h2 class="text-center mb-4 mt-4">Tareas Asignadas</h2>
        <img src="../assets/Admin-tareas.png" width="100%">


        <div class="flex flex-row align-items-center justify-content-center">
            <a href="https://alexuri001.github.io/tareas/" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Ver
                    Página</button></a>
            <a href="https://github.com/ALEXURI001/tareas" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Repositorio</button></a>
        </div>
    </div>

</p-dialog>

<p-dialog header="PET SHOP" [(visible)]="visible2" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">

    <div class="flex flex-column justify-content-center align-items-center">
        <h2 class="text-center mb-4 mt-4">Registro de Usuario</h2>
        <img src="../assets/Pet-register.png" width="100%">

        <h2 class="text-center mb-4 mt-4">Registro de Clientes</h2>
        <img src="../assets/Pet-shop-clientes.png" width="100%" class="mb-3 mt-3">
        <img src="../assets/Pet-shop-registroCliente.png" width="100%" class="mb-3 mt-3">
        <img src="../assets/Pet-shop-registroConcluido.png" width="100%" class="mb-3 mt-3">
        <img src="../assets/Pet-shop-error.png" width="100%" class="mb-3 mt-3">

        <h2 class="text-center mb-4 mt-4">Registro de productos</h2>
        <img src="../assets/Pet-shop-registroProducto.png" width="100%" class="mb-3 mt-3">
        <img src="../assets/Pet-shop-registroProductoConcluido.png" width="100%" class="mb-3 mt-3">

    </div>


</p-dialog>

<p-dialog header="GRID LAYOUT" [(visible)]="visible3" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">

    <div class="flex flex-column align-items-center justify-content-center">
        <h2 class="text-center mb-4 mt-4">INICIO</h2>
        <img src="../assets/Alura-Store.png" width="100%">

        <h2 class="text-center mb-4 mt-4">Secciones</h2>
        <img src="../assets/Alura-Store-appPopulares.png" width="100%" class="mb-3 mt-3">
        <img src="../assets/Alura-Store-juegosPopulares.png" width="100%" class="mb-3 mt-3">
        <img src="../assets/Alura-Store-destaque.png" width="100%" class="mb-3 mt-3">
        <img src="../assets/Alura-Store-novedades.png" width="100%" class="mb-3 mt-3">


        <div class="flex flex-row align-items-center justify-content-center">
            <a href="https://alexuri001.github.io/Grid-Layout/" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Ver
                    Página</button></a>
            <a href="https://github.com/ALEXURI001/Grid-Layout" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Repositorio</button></a>
        </div>
    </div>

</p-dialog>

<p-dialog header="LAYOUTS RESPONSIVOS" [(visible)]="visible4" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">
   
    
    <div class="flex flex-column align-items-center justify-content-center">
        <h2 class="text-center mb-4 mt-4">INICIO</h2>
        <img src="../assets/Bloc-Aperia.png" width="100%">

        <h2 class="text-center mb-4 mt-4">Destacados</h2>
        <img src="../assets/Bloc-Aperia-destacados.png" width="100%" class="mb-3 mt-3">
        <img src="../assets/Bloc-Aperia-destacados2.png" width="100%" class="mb-3 mt-3">
        <h2 class="text-center mb-4 mt-4">Planes</h2>
        <img src="../assets/Bloc-Aperia-planes.png" width="100%" class="mb-3 mt-3">
        <h2 class="text-center mb-4 mt-4">Footer</h2>
        <img src="../assets/Bloc-Aperia-footer.png" width="100%" class="mb-3 mt-3">


        <div class="flex flex-row align-items-center justify-content-center">
            <a href="https://alexuri001.github.io/Layouts-Responsivos/#" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Ver
                    Página</button></a>
            <a href="https://github.com/ALEXURI001/Layouts-Responsivos" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Repositorio</button></a>
        </div>
    </div>


</p-dialog>

<p-dialog header="ARQUITECTURA CSS" [(visible)]="visible5" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">
  
    <div class="flex flex-column align-items-center justify-content-center">
        <h2 class="text-center mb-4 mt-4">INICIO</h2>
        <img src="../assets/Bloc-Fruta.png" width="100%">

        <h2 class="text-center mb-4 mt-4">Sección recetas</h2>
        <img src="../assets/Bloc-Fruta-recetas.png" width="100%" class="mb-3 mt-3">
        <h2 class="text-center mb-4 mt-4">Footer</h2>
        <img src="../assets/Bloc-Fruta-quienesSomos.png" width="100%" class="mb-3 mt-3">
        

        <div class="flex flex-row align-items-center justify-content-center">
            <a href="https://alexuri001.github.io/Arquitectura-CSS/#" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Ver
                    Página</button></a>
            <a href="https://github.com/ALEXURI001/Arquitectura-CSS" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Repositorio</button></a>
        </div>
    </div>

</p-dialog>

<p-dialog header="FLEXBOX" [(visible)]="visible6" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">
    
    <div class="flex flex-column align-items-center justify-content-center">
        <h2 class="text-center mb-4 mt-4">INICIO</h2>
        <img src="../assets/Mini-Page.png" width="100%">

        <h2 class="text-center mb-4 mt-4">Footer</h2>
        <img src="../assets/Mini-Page-footer.png" width="100%" class="mb-3 mt-3">


        <div class="flex flex-row align-items-center justify-content-center">
            <a href="https://alexuri001.github.io/FLEXBOX/#" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Ver
                    Página</button></a>
            <a href="https://github.com/ALEXURI001/FLEXBOX" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Repositorio</button></a>
        </div>
    </div>

</p-dialog>

<p-dialog header="ENCRIPTADOR" [(visible)]="visible7" [breakpoints]="{ '960px': '90vw' }" [style]="{ width: '90vw' }"
    [draggable]="false" [resizable]="false">

    <div class="flex flex-column align-items-center justify-content-center">
        <h2 class="text-center mb-4 mt-4">Encriptador no responsivo</h2>
        <img src="../assets/ENCRIPTADOR.png" width="100%">
        <img src="../assets/ENCRIPTADOR2.png" width="100%">



        <div class="flex flex-row align-items-center justify-content-center">
            <a href="https://alexuri001.github.io/reto1-Encriptador-de-texto-/" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Ver
                    Página</button></a>
            <a href="https://github.com/ALEXURI001/reto1-Encriptador-de-texto-" target="_blank"
                class="flex align-content-center justify-content-center mt-6"><button class="button1">Repositorio</button></a>
        </div>
    </div>
</p-dialog>